In [1]:
import pandas as pd

# Sequencial

In [122]:
df_seq_cent = pd.read_csv("./Sequencial/log0")

In [133]:
df_seq_data = pd.read_csv("./Sequencial/log1")

# Concorrente

In [124]:
df_conc_cent = pd.read_csv("./Concorrente/log0")

In [134]:
df_conc_data = pd.read_csv("./Concorrente/log1")

In [90]:
df_seq_cent

   SepalLengthCm  SepalWidthCm  PetalLengthCm
0        5.00600       3.41800        1.46400
1        5.84655       2.73276        4.36379
2        6.83571       3.06429        5.65476

In [91]:
df_conc_cent

   SepalLengthCm  SepalWidthCm  PetalLengthCm
0        6.83571       3.06429        5.65476
1        5.84655       2.73276        4.36379
2        5.00600       3.41800        1.46400

In [135]:
df_seq_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  index  centroide
0              4.9           3.1            1.5     34          0
1              4.6           3.6            1.0     22          0
2              5.2           4.1            1.5     32          0
3              4.9           3.1            1.5     37          0
4              4.8           3.0            1.4     45          0
..             ...           ...            ...    ...        ...
145            6.3           2.9            5.6    103          2
146            6.7           3.3            5.7    124          2
147            6.4           3.2            5.3    115          2
148            6.8           3.0            5.5    112          2
149            6.7           3.0            5.2    145          2

[150 rows x 5 columns]

In [136]:
df_conc_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  centroide  index
0              5.1           3.5            1.4        2.0    0.0
1              4.9           3.0            1.4        2.0    1.0
2              4.7           3.2            1.3        2.0    2.0
3              4.6           3.1            1.5        2.0    3.0
4              5.0           3.6            1.4        2.0    4.0
..             ...           ...            ...        ...    ...
145            6.7           3.0            5.2        0.0  145.0
146            6.3           2.5            5.0        1.0  146.0
147            6.5           3.0            5.2        0.0  147.0
148            6.2           3.4            5.4        0.0  148.0
149            5.9           3.0            5.1        1.0  149.0

[150 rows x 5 columns]

In [138]:
def verificar_igualdade(conc_cent, seq_data, conc_data):
    # Como a ordem na tabela de centroide está invertida no concorrente devemos ajustar da seguinte maneira
    shift = conc_cent.shape[0] - 1
    conc_data["centroide"] = shift - conc_data["centroide"]

    # Ordena pelo índice do dataset original e reseta os índices para comparar depois
    conc_data.sort_values("index", inplace=True)
    conc_data.reset_index(drop=True,inplace=True)

    seq_data.sort_values("index", inplace=True)
    seq_data.reset_index(drop=True,inplace=True)

    # Guarda series que possui True para igualdades e False para diferentes
    # Foi necessário resetar o índice anteriormente pois essa comparação necessita
    # que os índices sejam os mesmos na mesma sequência
    igualdades = (seq_data["centroide"] == conc_data["centroide"])

    # Obtém a quantidade de diferenças
    disc = (~igualdades).sum()

    
    if (disc) == 0:
        print(disc)
        print("Os dois programas atribuiram os mesmos pontos aos mesmos centroides.")
    else:
        print(disc)
        print("Há pontos iguais pertencentes a centroides diferentes. Houve discordância entre os programas")

-----------------------

In [139]:
verificar_igualdade(df_conc_cent, df_seq_data, df_conc_data)

0
Os dois programas atribuiram os mesmos pontos aos mesmos centroides.